@import './styles/motion.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f5f4ef;
  --color-text: #141c20;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}
